APP_NAME=Dineqor
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/dineqor
APP_BASE_DOMAIN=localhost
APP_TIMEZONE=Africa/Nairobi
APP_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dineqor
DB_USER=root
DB_PASS=

SESSION_NAME=dineqor_session
SESSION_LIFETIME=120
SESSION_SECURE=false

UPLOAD_MAX_MB=5
